<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Allah Ne Verdiyse!
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023 <a href="https://ankarateknikbilisim.com">Tecnical Shop</a>.</strong> Tüm Hakları Gizlidir.
</footer>