@{
    Layout = null;
    

}
@model LogInViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
    <link href="~/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <style>
        .field-validation-error {
            color: red;
        }

        .validation-summary-errors {
            color: red;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="~/admin/index2.html" class="h1"><b>Technical </b>Shop</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Oturumunuzu başlatmak için giriş yapın</p>

                <form id="frmLogIn">
                    @*asp-antiforgery="true"*@
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="All"></div>

                    <div class="input-group mb-3">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Email"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password"></span>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="RememberMe" type="checkbox" id="remember">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" id="btnLogIn" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                @*<div class="social-auth-links text-center mt-2 mb-3">
                <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
                </div>*@
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">Şifremi Unuttum</a>
                </p>
                @*<p class="mb-0">
                <a href="register.html" class="text-center">Kayıt Olmak İçin Tıklayın</a>
                </p>*@
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.min.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(
            function () {
                $("#btnLogIn").click(function () {
                    //var vm = {
                    //    Email: $("#Email").val(),
                    //    Password: $("#Password").val(),
                    //    RememberMe: $("#RememberMe").val(),
                    //}

                    var form = $("#frmLogIn");
                    //var token = $('input[name="__RequestVerificationToken"]', form).val();

                    if ($("#frmLogIn").valid()) {
                        $.ajax({
                            url: "/Admin/Admin/LogIn",
                            method: "post",
                            dataType: "json",
                            data: form.serialize(),
                            //data: { __RequestVerificationToken :token,model:vm},
                            success: function (r) {
                                if (r.result) {
                                    window.location.href = "/Admin/Home/Index";
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Eyvah",
                                        text: r.Mesaj
                                    });
                                }
                            },
                            error: function() {

                        }
});





            }






                                });


                            });






    </script>



</body>
</html>
