@{
    Layout = null;
}

@model UpdatePasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Recover Password (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
    <link href="~/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>Tecnical</b>Market</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Yeni şifrenize yalnızca bir adım kaldı, şifrenizi hemen kurtarın.</p>
                <form id="frmUpdatePassword" asp-antiforgery="true">

                    <input type="hidden" id="hiddenUniqueId" value="@Model.UniqueId" />
                    @*@Html.AntiForgeryToken()*@

                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Şifre Tekrar">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="btnUpdatePassword" type="button" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    @ViewBag.Mesaj
                </form>

                <p class="mt-3 mb-1">
                    <a href="Admin/Admin/LogIn">Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/limonte-sweetalert2/sweetalert2.min.js"></script>

    <!-- Fluent Validation olayı sizde -->

    <script>
        $(document).ready(
            function () {
                $("#btnUpdatePassword").click(
                    function () {
                        var model = {
                            Password: $("#Password").val(),
                            ConfirmPassword: $("#ConfirmPassword").val(),
                            UniqueId: $("#hiddenUniqueId").val()
                        }

                        var token = $('input[name="__RequestVerificationToken"]').val();

                        //var form = $("#frmUpdatePassword");

                        if ($("#frmUpdatePassword").valid()) {
                            $.ajax({
                                url: "/Admin/Admin/UpdatePassword",
                                method: "post",
                                dataType: "json",
                                data: { model: model, __RequestVerificationToken: token }, /*  form.serialize,*/
                                success: function (r) {
                                    if (r.result) {
                                        Swal.fire({
                                            title: r.mesaj,
                                            text: "",
                                            icon: "success"
                                        });
                                    }
                                },
                                error: function () {

                                }
                            });



                        }


                    });
            });






    </script>
</body>
</html>
